{
  "sourceMaps": true,
  "compact": true,
  "presets": [
    [
      "es2015",
      "stage-0"
    ]
  ],
  "plugins": [
    [
      "transform-exponentiation-operator" // _esMoudle
    ],
    [
      "transform-react-jsx",
      {
        "pragma": "h"
      }
    ]
  ]
}
