{
  "sourceMaps": true,
  "compact": false,
  "presets": [
    [
      "es2015",
      "stage-0"
    ]
  ],
  "plugins": [
    [
      "transform-decorators-legacy",
      "transform-async-to-generator",
      "transform-exponentiation-operator"
    ],
    [
      "transform-react-jsx",
      {
        "pragma": "h"
      }
    ]
  ]
}
