@import '~style/helpers';
.footer {
    position: fixed;
    width: 100%;
    height: @footerHeight;
    line-height: @footerHeight;
    left: 0;
    bottom: 0;
    overflow: hidden;
    z-index: 1;
    background: @footerBgc;
    box-shadow: 0 0 2px #fff;
    /*no*/
    &>div {
        width: 20%;
        height: @footerHeight;
        display: inline-block;
        text-align: center;
    }
}
