@import '~style/helpers';
@images: '../home/images';

@base: #f04615;
@width: 0.5;

.class {
  width: percentage(@width); // returns `50%`
  color: saturate(@base, 5%);
  background-color: spin(lighten(@base, 25%), 8);
}

.home {
	padding: 100px 20px 56px;
	min-height: 100%;
	width: 100%;
	overflow: hidden;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.cycle {
	width: 335px;
	height: 335px;
	margin: auto;
	text-align: center;
	border: 0.5px solid #08f;
	border-top-left-radius: 25% 75%;
	border-top-right-radius: 75% 25%;
	border-bottom-left-radius: 75% 25%;
	border-bottom-right-radius: 25% 75%;
	background-image: url('@{images}/bg.png');
	background-size: cover;
}
