@import '~style/helpers';

.home {
	padding: 2.8rem 1rem;
	min-height: 100%;
	width: 100%;
	overflow: hidden;
	background: #EEE;
	color: #fff;
	background-image: url('../home/images/bg.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.cycle {
	width: 3rem;
	height: 3rem;
	margin: auto;
	font-size: .2rem;
	line-height: 3rem;
	text-align: center;
	border: .05rem solid #08f;
	border-top-left-radius: 25% 75%;
	border-top-right-radius: 75% 25%;
	border-bottom-left-radius: 75% 25%;
	border-bottom-right-radius: 25% 75%;
	background: url(assets/icons/android-chrome-192x192.png);
	background-size: cover;
}
